<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:s="http://www.springframework.org/schema/security" xmlns:oauth="http://spring-security-oauth.codehaus.org/3.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd 
	http://spring-security-oauth.codehaus.org/3.0 http://spring-security-oauth.codehaus.org/schema/spring-security-oauth-3.0.xsd"
	default-lazy-init="true">
	<oauth:provider consumer-details-service-ref="consumerDetails"
		token-services-ref="tokenServices" request-token-url="/oauth/request_token"
		authenticate-token-url="/oauth/authorize" authentication-failed-url="/oauth/confirm_access"
		access-token-url="/oauth/access_token" require10a="false" />
	<oauth:consumer-details-service id="consumerDetails">
	
	</oauth:consumer-details-service>
	<oauth:token-services id="tokenServices" />
</beans>